body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

/* Aviso Main*/
.jumbotron {
    background-color: #c7dce2;
}

.jumbotron h1 {
    color: #166d89;
}

.jumbotron p {
    color: red;
}

.button-create-inline {
    display: inline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #166d89;
    color: white;
    text-align: center;
}

/* Navbar */
.navbar-brand {
    background: url(http://www.cm-barcelos.pt/logo.png) no-repeat;
    margin: 5px;
    width: 260px;
    background-size: 160px;
}

.navbar {
    background-color: #c7dce2;
    border-color: #c7dce2;
}

.navbar-nav li a {
    color: #166d89 !important;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: white !important;
    font-weight: bold;
}

/* Tables */
.title-table {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #c7dce2;
    color: #166d89;
}

.text-most-important {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #c7dce2;
}

/* Title pages */
.title-page {
    font-weight: bold;
    color: #166d89;
}

.subtitle-page {
    font-weight: bold;
    color: #333;
}

/* Edit pages */
.table-edit-data {
    border: 1px solid #166d89;
    padding: 5px;
    background-color: #166d89;
    color: white;
    border-radius: 4px;
    text-align: center !important;
}

.fix-margin {
    margin-left: 0px !important;
}

