@model WebApplication1.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4 class="subtitle-page">Junta Online</h4>
<hr />
<div>
    <p>Serviços onlines totalmente gratuitos, sem preocupeções de deslocação. <b><a href="/Account/Register"> Regista-te já!</a></b></p>
</div>
  

