@{
    ViewBag.Title = "Confirmação de recuperação da password.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verique a sua conta de email.
    </p>
</div>
	
