@{
    ViewBag.Title = "Contact";
}
<h2>Contactos</h2>
<h3>Lista de Contactos</h3>

<address>
    <b>Telefone:</b> 253 809 600<br />
    <b>Fax:</b> 253 821 263<br />
    <br />
    <b>Email:</b> geral@cm-barcelos.pt<br />
    <b>Web:</b> www.cm-barcelos.pt<br />
    <br />
    Largo do Município<br />
    4750-323 Barcelos<br />
</address>

<address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.8754493839124!2d-8.623566084936995!3d41.52863849519022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2452322881bd0b%3A0x228f025189bee354!2sLargo+do+Munic%C3%ADpio+211%2C+4750-290+Barcelos%2C+Portugal!5e0!3m2!1spt-PT!2sus!4v1545241189432" width="500" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
</address>